<% layout('./layouts/boilerplate')%>
    <h1>Tourist Places</h1>


    <% campgrounds.forEach(element=> { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="<%= element.image %>" class="img-fluid" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">

                            <%=element.title%>

                        </h3>
                        <p class="card-text">
                            <%=element.description%>
                        </p>
                        <p class="card-text">
                            <small class="textmuted">
                                <%=element.location%>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%= element.id %>">More Info</a>

                    </div>
                </div>
            </div>
        </div>


        <% }) %>